body {
  font-family: sans-serif;
}
#quiz {
  width: 70%;
  margin: 0 0 15px 0;
  padding: 0;
  margin: 30px auto;
}
#quiz li {
  display: block;
  background-color: rgb(192, 210, 236);
  padding: 10px;
  border-bottom: 1px solid #fff;
  cursor: move;  
  border-radius: 12px;
  margin: 5px auto;
}
#quiz li.sortable-chosen {
  background-color: rgb(178, 210, 241);
}
.checkAnswer {
    border-radius: 5px;
}

.activity {
    background-color: rgba(189, 182, 174, 0.171);
    border-radius: 30px;
    padding: 20px 30px;
    padding-bottom: 30px;
    border-color: black;
    border-style: dashed;
    border-width: 2px;
    margin: 30px 0px;
}

.activity button {
    display: block;
    margin: 20px auto;
}
.activity button:hover {
    color:rgb(146, 146, 146)
}

.answer-cont {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.answer-button {
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    padding: 7px 9px;
    border-color: black;
    border-width: 2px;
    

}

.answer-button:hover {
    background-color: rgb(219, 219, 219);
    cursor: default;
}

.selected {
    background-color: rgb(214, 214, 214);
}