{% for item in site.data.quizzes[{{page.slug}}] %}
<div class="activity">
<h3 class="activity-label">Activity</h3>
<hr/>
<h2>{{item.prompt}}</h2>
{% if item.type=="multiple_choice" %}
<ul class="quiz">
    {% for response in item.responses %}
    {% if response.correct %}
    <li onclick="multiple_choice_check_answer('{{response.correct}}')">{{response.text}}</li>
    {% else %}
    <li onclick="multiple_choice_check_answer('{{response.correct}}')">{{response.text}}</li>
    {% endif %}
    {% endfor %}
   
</ul>
{% elsif item.type=="matching" %}
<div class="matching-cont">
    <ul class="quiz matching-col">
        {% for response in item.responses %}
        <li id='{{response.text}}' onclick="changeclass(); matching_check_answer('{{response.text}}', '{{response.correct}}')">{{response.text}}</li>
        {% endfor %}
    </ul>
    <ul class="quiz matching-col">
        {% for response in item.responses %}
        <li id='{{response.correct}}' onclick="changeclass(); matching_check_answer('{{response.text}}', '{{response.correct}}')">{{response.correct}}</li>
        {% endfor %}

    </ul>
</div>
{% else %} 
<div class="fillin-cont">
    {% for response in item.responses %}
        <p class="fillin-line" data-blank={{response.correct}}>{{response.text}}</p>
    {% endfor %}
</div>
{% endif %}
</div>
{% endfor %}

<script type="text/javascript">
    var leftColSelected = false;
    var rightColSelected = false;
    var ul = document.querySelectorAll('.matching-col');
    for (let i = 0; i < ul.length; i++) {
    for (var j = ul[i].children.length; j >= 0; j--) {
        ul[i].appendChild(ul[i].children[Math.random() * j | 0]);
    
    }
    }

    var lines = document.querySelectorAll('.fillin-line');
    let reg =/_+/;
    for (let i = 0; i < lines.length; i++) {
        lines[i].innerHTML = lines[i].innerHTML.replace(reg, "<input class='blank' type='text' oninput='fillin_check_answer(this.parentElement.dataset.blank)'>");
        lines[i].firstElementChild.setAttribute('size', lines[i].dataset.blank.length);
    }
</script>